@model IEnumerable<WebApplication10.Models.Logs>

@{
<h2>Logins List</h2>
    Layout = "~/Views/Shared/Adminpanel.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Previlages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Previlages)
        </td>
        <td>
            @Html.ActionLink("Edit", "loginedt", new { id=item.Id }) |
           
            @Html.ActionLink("Delete", "logindel", new { id=item.Id })
        </td>
    </tr>
}

</table>
