@model IEnumerable<WebApplication10.Models.Payables>

@{
    <h2>Payables List</h2>
    Layout = "~/Views/Shared/Adminpanel.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchasesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvidersID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateadd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlipNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvidersID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateadd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlipNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Payableedt", new { id=item.Id }) |
            
            @Html.ActionLink("Delete", "Payabledel", new { id=item.Id })
        </td>
    </tr>
}

</table>
